.joinSection {
  max-width: 768px;
  min-width: 320px;
  height: auto;
  background-color: #fefefe;
  margin: 0 auto;
  /* overflow-y: scroll; */
  padding-top: 140px;
}

.joinSection::-webkit-scrollbar {
  display: none;
}
